body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffd700;
}

.container {
    max-width: 900px;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 260px);
}

#announcementContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

#clockContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-right: 5px;
    background-image: url("RPA.ico");
    background-size: contain;
    background-repeat: no-repeat;
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clockContainer {
    font-weight: bold;
    color: #800000;
}

#playButton {
    background-color: #f44336;
}

#loadGridButton {
    background-color: #2196F3;
}

.announcement {
    background-color: #222;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.play-counter-container,
.load-train-container {
    display: flex;
    align-items: center;
}

.play-counter-label,
.load-train-label {
    margin-right: 5px;
}

.play-counter-input {
    padding: 4px;
    width: 28px;
    margin-right: 4px;
}

.load-train-label {
    margin-left: 2px;
}

.load-train-input {
    padding: 4px;
    width: 245px;
    margin-left: 2px;
    margin-right: 4px;
    flex-grow: 1;
}

.load-train-button {
    padding: 8px 16px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-train-button:hover {
    background-color: #1565c0;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 18px;
    margin-bottom: 4px;
    color: #32CD32;
}

h2 {
    font-size: 16px;
    color: #fff;
}

h3 {
    font-size: 28px;
    margin-bottom: 6px;
    color: #f44336;
}

.platform-select,
.language-select,
.status-select,
.platform-checkbox {
    margin-top: 6px;
}
