body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffd700;
}

.container {
    max-width: 900px;
    width: 100%;
    overflow-y: auto; /* Add scrollbar for the container */
    max-height: calc(100vh - 340px); /* Adjust the height to accommodate other elements without scrolling */
}

#announcementContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px; /* Add padding at the bottom for better spacing */
}

#clockContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  background-image: url("RPA.ico");
  background-size: contain;
  background-repeat: no-repeat;
}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clockContainer {
  font-weight: bold;
  color: #800000;
}

#playButton {
    background-color: #f44336;
}

#loadGridButton {
    background-color: #2196F3;
}

.announcement {
    background-color: #222;
    color: #FFFF;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 100%;
}

.play-counter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.play-counter-label {
    margin-right: 10px;
}

.play-counter-input {
    padding: 5px;
    width: 50px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #32CD32;
}

h2 {
    font-size: 18px;
    color: #fff;
}

h3 {
    font-size: 35px;
    margin-bottom: 8px;
    color: #f44336;
}

.platform-select {
    margin-top: 10px;
}

.platform-checkbox {
    margin-top: 10px;
}

#selectedRowsContainer {
    margin-top: 20px;
}

.platform-select {
    margin-top: 10px;
}

.language-select {
    margin-top: 10px;
}

.status-select {
    margin-top: 10px;
}

.platform-checkbox {
    margin-top: 10px;
}
